* {
    background-color: #1a1a1d;
}
 #file-to-download-id {
     color: white;
 }
/*---------------Banner-------------------*/

#banner_name {
    text-align: center;
    color: #950740;
    padding: 8px;
    font-size: 40px;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu-item {
    color: white;

}

.show {
    display: block;
}

.dropdown-search {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#search-entry {
    max-width: 100%;
}
#search-submit {
    border-radius: 5px;
    font-weight: 550;
}

/*--------------Feed----------------*/

#feed {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 65%;
    max-width: 65%;
    height:80%;
    max-height: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
}

h1 {
    text-align: center;
}

.new-post {
    position: relative;
    left: 5%;
    width: 90%;
    max-width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: #950740;
    border-width: 3px;
}
.profile-pic {
    position: relative;
    top: 0%;
    left: 0%;
    height: 100px;
    width: 100px;
}
.profile-name {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #950740;
    font-weight: 600;
    position: relative;
    top: 0px;
    left: 120px;
}
.post-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
    text-align: left;
    position: relative;
    top: 5%;
    left: 120px;
}

/*------------Side Resources-------------------*/
#side-resources {
    position: absolute;
    left: 75%;
    top: 20%;
    max-width: 20%;
    height: 80%;
    max-height: 80%;
    border-radius: 10px;
    border-color: #950740;
    border-style: solid;
    border-width: 5px;
}

#file-upload-form {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    border-color: #950740;
    border-width: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
    left: 0.5%;
    font-size: 20px;
    font-weight: 600;
    max-width: 95%;
}
#upload-submit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-color: #950740;
    border-width: 5px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}
#upload-submit:hover {
    color: #950740;
    border-color: white;
    background-color:white;
    transition-duration: 0.6s;
}


/*--------------Players-----------*/
.players {
    position: relative;
    left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*--------Crate Post Button------*/
.side-menu-button {
    color:white;
    padding: 10px;
    border-radius: 5px;
    border-color: #950740;
    border-width: 5px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 95%;
    height: 15%;
    position: relative;
    left: 2.5%;
    font-size: 25px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.side-menu-button:hover {
    color: #950740;
    border-color: white;
    background-color:white;
    transition-duration: 0.6s;
}