
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOOGLE TEST</title>
</head>

<body>
    <button id="sign-in-or-out-button"
        style="margin-left: 25px">Sign In/Authorize</button>
    <button id="revoke-access-button"
            style="display: none; margin-left: 25px">Revoke access</button>

    <div id="auth-status" style="display: inline; padding-left: 25px"></div><hr>

    <div id="test-zone"></div>

    <input type="text" value="" placeholder="drive file id" id="file-to-download-entry">
    <button id="drivedownload-button" onclick="driveDownloadClientSide()">Download da drive (TEST)</button>

    <script type="text/javascript" src="/js/GOOGLE-TEST.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"
            onload="this.onload=function(){};handleClientLoad()"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    
</body>
</html>


