body {
    background-image: url("../assets/background/light-bg.png");
}

.container {
    color: #1A1A1D !important;
    background-color: white !important;
}

.modal-label {
    color: black !important;
}

@media only screen and (max-width: 576px) {
    body {
        background-color: white !important;
    }
}


#googleSigninButton {
    background-color: white;
    color: black;
}
#googleSigninButton:hover {
    background-color: #0275d8;
    color: white;
}