html, body, .container {
    height: 100%;
}

.post {
    height: 96vh;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 7rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
    color: honeydew;
    overflow-y: scroll;         /* sezione scrollabile */
    -ms-overflow-style: none;   /* scrollbar nascosta per IE ed Edge*/
    scrollbar-width: none;      /* scrollbar nascosta per Firefox */
}

.post::-webkit-scrollbar {
    display: none;              /* scrollbar nascosta per Chrome, Safari ed Opera */
}

/* inizio elemento utente */
.user-elem {
    display: flex;
    flex-direction: row;
    position: relative;
}

.propic {
    height: 120px;
    margin-right: 4rem;
}

.stretched-link {
    color: white;
    text-decoration-line: none;
}

.stretched-link:hover {
    color: white;
    text-decoration-line: none;
}
/* fine elemento utente */


/* RESPONSIVENESS */
@media only screen and (max-width: 1400px) {    /* xl */
}

@media only screen and (max-width: 1200px) {    /* lg */
    .post {
        padding-top: 9rem;
    }
}

@media only screen and (max-width: 992px) {     /* md */
}

@media only screen and (max-width: 768px) {     /* sm */
    .info {
        font-size: small !important;
    }

    .propic {
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 576px) {     /* xs */
    .propic {
        height: 100px;
    }
}